<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRUD_USING_JDBC_and_jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerADD</display-name>
    <servlet-name>CustomerADD</servlet-name>
    <servlet-class>Master.servlet.CustomerADD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerADD</servlet-name>
    <url-pattern>/CustomerADD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUPDATE</display-name>
    <servlet-name>CustomerUPDATE</servlet-name>
    <servlet-class>Master.servlet.CustomerUPDATE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUPDATE</servlet-name>
    <url-pattern>/CustomerUPDATE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDELETE</display-name>
    <servlet-name>CustomerDELETE</servlet-name>
    <servlet-class>Master.servlet.CustomerDELETE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDELETE</servlet-name>
    <url-pattern>/CustomerDELETE</url-pattern>
  </servlet-mapping>
</web-app>